---
layout: default
---

<div class="posts">
  {% for post in site.posts %}
    <article class="post">

      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>
      
      <p class="post-date">{{ post.date | date: "%A, %B %e, %Y" }}</p>
      {% if post.image And post.image != "" And post.image != nil %}
      <img src="{{ site.baseurl }}/images/{{ post.image }}" alt="{{ post.alt }}">   
       {% endif %}

      <div class="entry">
        {{ post.excerpt }}
      </div>

      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
    </article>
  {% endfor %}
</div>
