---
---

//
// IMPORTS
//

@import "reset";
@import "variables";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

html {
  font-size: 100%;
}

body {
	background: $white;
	font-family: 'Lora', serif;
  font-size: 19px;
  line-height:1.4;
  color: $darkGray;
	background-image: url(images/footer-image.jpg);
    background-repeat: no-repeat;
	background-position: bottom center;
	background-size:contain;
}

hr {
border:1px solid #ccc;
margin-top:30px;
margin-bottom:30px;
display:block;
}

@media only screen and (max-width: 400px) { body { padding-bottom: 80px; } }
@media only screen and (min-width: 400px) { body { padding-bottom: 142px; } }
@media only screen and (min-width: 740px) { body { padding-bottom: 198px; } }
@media only screen and (min-width: 1000px) { body { padding-bottom: 269px; } }
@media only screen and (min-width: 1280px) { body { padding-bottom: 305px; } }
@media only screen and (min-width: 1500px) { body { padding-bottom: 366px; } }
@media only screen and (min-width: 1800px) { body { padding-bottom: 488px; } } 

@media only screen and (min-width: 2400px) { body { background-size:auto; } }


.container {
  margin: 0 auto;
  max-width: 740px;
  padding: 0 25px;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  color: $darkerGray;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 1.7;
  margin: 1em 0 15px;
  padding: 0;
 
  @include mobile {
    line-height: 1.4;
  }
}

h1 {
  font-size: 32px;
  a {
    color: inherit;
  }
}

h2 {
  font-size: 26px;
}

.posts .post h2 { 
  font-size: 32px; 
  margin-top:0;
  a {
    color: inherit;
  }
}

h3 {
  font-size: 22px;
}

h4 {
  font-size: 19px;
  color: $gray;
}

h5 {
  font-size: 16px;
	letter-spacing: 2px;
	font-weight:400;
  color: $gray;
}

p {
  margin: 15px 0;
  line-height:1.7;
}

a {
  color: $blue;
  text-decoration: none;
  cursor: pointer;
  &:hover, &:active {
    color: $blue;
  }
}

p a { text-decoration: underline; }

ul, ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

img {
  max-width: 100%;
}

.visually-hidden { display:none; }

blockquote {
	border-left:3px solid $blue;
	color: $blue;
	font-size:21px;
	padding:20px;
	display:block;
	margin:30px 20px;
	font-style:italic;
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

.date {
  font-style: italic;
  color: $gray;
}

.post-date {
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  font-size:17px;
  letter-spacing: 2px;
  color: #9b9b9b;
  margin-top:0;
  margin-bottom:25px;
}

.post h1, .posts .post h2 {
  margin-bottom:2px;
}

// Specify the color of the selection
::-moz-selection {
  color: $black;
  background: $lightGray;
}
::selection {
  color: $black;
  background: $lightGray;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

.topStrip {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;
    z-index: 700;
    background-image: url(images/signature-strip.png);
    background-repeat: no-repeat;
    background-size: 100% 5px;
	box-shadow: 0 1px 3px #999;
}

//
// .masthead
//

.wrapper-masthead {
  margin-bottom: 0px;
}

.masthead {
  padding: 20px 0;
    text-align: center;
}

.site-avatar {
    float: none;
    display: block;
    margin: 0 auto;
    padding:20px;
  img {
  width: 164px;
  }
}

@media only screen and (max-width: 640px) { 
	.site-avatar {
	    padding:15px;
	  img {
	  width: 96px;
	  }
	}
}

.footer-avatar {
	padding:20px;
	text-align:center;
	img {
	width: 112px;	
	}
}

.site-info {
  float: left;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }
}

.site-name {
  margin: 0;
  color: $darkGray;
  cursor: pointer;
  font-size: 28px;
  letter-spacing: 1px;
}

.site-description {
  margin: -5px 0 0 0;
  color: $gray;
  font-size: 16px;

  @include mobile {
    margin: 3px 0;
  }
}

nav {
  margin-top: 23px; // @TODO: Vertically middle align
  font-size: 21px;
  padding:15px 0;
    float: none;
    margin-top: 9px;
    display: block;
    border-top: 1px solid $lightGray;
    border-bottom: 1px solid $lightGray;

  a {
    color: $blue;
    font-family: 'Montserrat', sans-serif;
    margin:0 12px;;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-size: 17px;
    font-weight: 700;
  }
}

//
// .main
//

.posts > .post {
  padding-bottom: 2em;
  margin-bottom: 20px;
  border-bottom: 1px solid $lightGray;
}

.posts > .post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}

.post {

  .comments {
    margin-top: 10px;
  }

  .read-more {
    font-family: 'Montserrat', sans-serif;
    margin-top:20px;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-size: 17px;
    font-weight: 700;
  }
}

.wrapper-footer {
  margin-top: 50px;
}

footer {
  padding: 20px 0;
  text-align: center;
}

/// EDITORIAL IMAGES

.editorial-highlight-right {
	width:50%;
	margin-left: 25px;
	float:right;
}

.img + em {
	color:#888;
}

.editorial-highlight-center { border:1px solid #eee; padding:6px; }

@media only screen and (max-width: 640px) { .editorial-highlight-right { margin: 0 auto; float:none; display:block; width:70%; } }
@media only screen and (min-width: 640px) { .editorial-highlight-right { margin-right: 0; margin-left:25px; width:45%; float:right; } }
@media only screen and (min-width: 1050px) { .editorial-highlight-right { margin-right: -25%; margin-left:25px; width:50%; float:right; } }


// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";

// Sponsor button

a.sponsor-button:link, a.sponsor-button:visited { 
position:fixed;
text-align:center;
	font-family: 'Montserrat', sans-serif;
	text-transform:uppercase;
z-index:1000;
bottom:0;
left:0;
max-height:92px;
width:100%;
padding:10px 0px;
font-size:80%;
color:#fff;
background-color: #00688B;
}

a.sponsor-button:hover { 
background-color: #004258;
text-decoration:none;
}
