---
layout: default
---

<article class="post">

   {% if page.image And page.image != "" And page.image != nil %}
   <img src="{{ site.baseurl }}/images/{{ page.image }}" alt="{{ page.alt }}">   
  {% endif %}
  
   <p class="post-category-name">{{ page.category }}</p>
  <h1>{{ page.title }}</h1>
  
    <div class="post-date">
    Written on <meta itemprop="datePublished" content="{{ page.date | date: "%Y-%m-%d" }}">{{ page.date | date: "%B %e, %Y" }}
  </div>

  <div class="entry">
    {{ content }}
  </div>

  {% include disqus.html %}
</article>
